.container {
    height: 25px;
    background-color: #CCC;
    position: relative;
    border-radius: 7px;
}

.btn {
    margin-top:20px;
}

.display {
    font-size: 20px;
    text-align: center;
}
/* center a button */
.center {
    display: flex;
    justify-content: center;
}

.container .progress-bar {
    position: absolute; /* so that we can easily manage it inside of outer div */
    height: 100%;
    background-color:rgba(0, 110, 255, 0.986);
    border-radius: 7px;
    /* animation: progress-animation 5s forwards; we segreggated it in a seperate id so that it will work on button click */
}

#play-animation {
    animation: progress-animation 5s forwards;
}

@keyframes  progress-animation {
    0% { width: 0%;}
    100% {width:100%;}
}